{% extends "base.html" %}
{% block content %}
<h1>User Feedback / Issues:</h1>

<ul class="list-group">
  {% for high in highprio %}

  <li class="list-group-item">

    <h1>{{ high.title }}</h1>
    <h3>Priority: High </h3>
    <h3>Published: {{ high.date.strftime('%B %d, %Y') }}</h3>
    <p>{{high.text}}</p>
    {% if current_user.authLevel == 1%}
    <a class="btn btn-dark" method='GET' href={{url_for('updatehighprio',num=high.id)}} role="button">Decrease priority</a>
    {% endif %}

    {% if current_user.authLevel == 1%}
    <a class="btn btn-dark" method='GET' href={{url_for('deleteuserfeedback',num=high.id)}} role="button">Resolve</a>
    {% endif %}
</li>

  {% endfor %}
</ul>

<ul class="list-group">
  {% for low in lowprio %}

  <li class="list-group-item">

    <h1>{{ low.title }}</h1>
    <h3>Priority: Low</h3>
    <h3>Published: {{ low.date.strftime('%B %d, %Y') }}</h3>
    <p>{{low.text}}</p>
    {% if current_user.authLevel == 1%}
    <a class="btn btn-dark" method='GET' href={{url_for('updatelowprio',num=low.id)}} role="button">Increase priority</a>
    {% endif %}

    {% if current_user.authLevel == 1%}
    <a class="btn btn-dark" method='GET' href={{url_for('deleteuserfeedback',num=low.id)}} role="button">Resolve</a>
    {% endif %}
</li>

  {% endfor %}
</ul>



{% endblock content %}
