{% extends "base.html" %}

{% block content %}
	<h1>All bookings</h1>
	{% for d in bookingDates %}
	<h3><b>{{ d }}</b></h3>
	<hr>
		{% for b in bookings %}
			{% if b[4] == d %}
				<b>{{ b[5] }}</b>
				{% if b[2] <= 24 %}
					<p><b>Rented {{b[0]}}</b> scooter(s) from the {{b[7]}} for <b>{{b[2]}} hour(s)</b> | £{{b[1]}}.00</p>
				{% else %}
					<p><b>Rented {{b[0]}}</b> scooter(s) from the {{b[7]}} for <b>1 week</b> | £{{b[1]}}.00</p>
				{% endif %}
				<p><b>Return by:</b> {{ b[3] }}</p>
				<hr>
			{% endif %}

		{% endfor %}

	{% endfor %}
{% endblock %}
