{% if current_user.authLevel == 1 %}
	{% extends "adminbase.html" %}
{% elif current_user.authLevel == 2 %}
	{% extends "master.html" %}
{% else %}
	{% extends "base.html" %}
{% endif %}
{% block content %}
{% if current_user.authLevel != 2 %}
    <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item"  style="font-size:16px">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Location 1:Trinity   Availability: {{location1.numAvailableScooters}}
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" >
        <div class="accordion-body" style="font-size:16px">
          Address: 27 Albion St, Leeds LS1 5AT
          <br><br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.59860913743!2d-1.5466881839660953!3d53.79663124858803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c1ebada21b9%3A0x7e291386a3a95862!2sTrinity%20Leeds!5e0!3m2!1sen!2suk!4v1651328607547!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <br><br>
          <a class="btn btn-dark" href='/hire?location=Trinity%20Centre' role="button">Rent at this location</a>

        </div>
      </div>
    </div>
    <div class="accordion-item"  style="font-size:16px">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Location 2: Train station   Availability: {{location2.numAvailableScooters}}
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
<div class="accordion-body" style="font-size:16px">
        Address: New Station St, Leeds LS1 4DY
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.7217829039364!2d-1.549769683966206!3d53.79443914875328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c1eff3d8515%3A0x2af58969cc8b47bf!2sLeeds%20Train%20Station%2C%20New%20Station%20St%2C%20Leeds%20LS1%204DY!5e0!3m2!1sen!2suk!4v1651337403290!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br>
        <a class="btn btn-dark" href='/hire?location=Train%20Station' role="button">Rent at this location</a>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="font-size:16px">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Location 3: Merrion centre   Availability: {{location3.numAvailableScooters}}
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
<div class="accordion-body" style="font-size:16px">
        Address: Merrion Way, Leeds LS2 8NG
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.2896902734005!2d-1.5454908839659998!3d53.80212874817404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c1b3bf56057%3A0x5e12f9aaf39d5a8f!2sMerrion%20Shopping%20Centre%2C%20Leeds%20LS2%208DB!5e0!3m2!1sen!2suk!4v1651337637409!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br>
        <a class="btn btn-dark" href='/hire?location=Merrion%20Centre' role="button">Rent at this location</a>
</div>
      </div>
    </div>
    <div class="accordion-item" style="font-size:16px">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Location 4: LRI hospital  Availability: {{location4.numAvailableScooters}}
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="font-size:16px">
        Address: Great George St, Leeds LS1 3EX
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.363147216856!2d-1.5528551839659894!3d53.800821548272545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795ea7e13978cf%3A0xa9043b3691991131!2sLeeds%20General%20Infirmary!5e0!3m2!1sen!2suk!4v1651337877687!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br>
        <a class="btn btn-dark" href='/hire?location=LRI%20Hospital' role="button">Rent at this location</a>
</div>
      </div>
    </div>
    <div class="accordion-item" style="font-size:16px">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          Location 5: The edge   Availability: {{location5.numAvailableScooters}}
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
<div class="accordion-body" style="font-size:16px">
        Address: Woodhouse, Leeds
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.1740122070237!2d-1.555402683965859!3d53.8041872480189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795ea997b52add%3A0x2a6e034cb4f70100!2sThe%20Edge!5e0!3m2!1sen!2suk!4v1651337906010!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br>
        <a class="btn btn-dark" href='/hire?location=UoL%20Edge%20Sports%20Centre' role="button">Rent at this location</a>
</div>
      </div>
    </div>
  </div>
</body>
</html>
{% endif %}
{% endblock %}
