{% extends "userbase.html" %}
{% block content %}
{% if error != "" %}
	<center><p style="color:red"><b>Error: {{ error }}</b></p></center>
	<hr>
{% endif %}
<form class="form" method="post">
	<div class="accordion accordion-flush" id="accordionFlushExample">
		{% for c in current_user.cards %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						{{ c.accNum_digits }}
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						Please enter your cvc to use this card
						<br><br>
						<input autocomplete="off" type="number" name="cvc" placeholder="cvc" maxlength="3">
						<button type="submit" name="submit" value="{{c.id}}">Pay with this card</button>

					</div>
				</div>
			</div>
		{% endfor %}
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Pay with new card
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<a class="btn btn-dark" href='/pay/newCard' role="button">Add new card</a>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
