{% extends "base.html" %}
{% block content %}
<link href="../static/css/Login_Style.css" rel="stylesheet" type="text/css" media="screen"/>
<div id="body">
  <div class="login-container">
	  {% if error != "" %}
	  <center><p style="color:red"><b>Error: {{ error }}</b></p></center>
	  <hr>
	  {% endif %}
	  <form class="form" method="post">
		  {{ form.hidden_tag() }}
		<label for="email"><b>Email Address</b></label>
  	    <!-- <input type="text" placeholder="Enter E-mail Address" name="email" required> -->
			{{ form.email }}
  	    <br>
		<label for="forename"><b>First Name</b></label>
			{{ form.forename }}
  	    <br>
		<label for="surname"><b>Last Name</b></label>
			{{ form.surname }}
  	    <br>
  	    <label for="pass"><b>Password</b></label>
  	    <!-- <input type="password" placeholder="Enter Password" name="pass" required> -->
			{{ form.password }}
  	    <br>
  	    <label for="confirm"><b>Confirm Password</b></label>
  	    <!-- <input type="password" placeholder="Re-enter Password" name="confirm" required> -->
			{{ form.confirm }}
  	    <br>
  	    <button type="submit" name="submit" class="signup">Sign up</button>
  	    <br>
  	    <br>
  	    <a href="/login">Already have an account? Log in now</a>
	  </form>
  </div>
</div>
{% endblock %}
