<doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is the title!</title>
    <link rel="stylesheet" href="../static/css/cssfile.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Creating a navigation bar using the
         .navbar class of bootstrap -->
         <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         <a class="navbar-brand d-md-none" href="#"><img src="../static/images/Logo.png"  height="110" width="250"></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>


           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto">
               <li class="nav-item active">
                   <a id="type1" class="nav-link" href="\about">About</a>
               </li>
             </ul>
           </div>




<div class="container-fluid">
  <a class="d-none d-md-block navbar-brand mx-auto" href="\">
<img src="../static/images/Logo.png"  height="110" width="250">
  </a>
</div>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown active">
      <a id="type1" class="nav-link dropdown-toggle active" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ current_user.firstName }}
  </a>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
    <li><a id="type1" class="dropdown-item" href="#">Advanced</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="type1" class="dropdown-item" href="\logout">Logout</a></li>
  </ul>
    </li>
  </ul>
</div>


</nav>

<div class="container">
  <div class="jumbotron">
    {% block content %}

	{% endblock %}
  </div>
</div>
<br>

  </body>
</html>
