* {box-sizing:border-box}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size:16px;
  background-image:url(
    'https://nypost.com/wp-content/uploads/sites/2/2021/04/electric-scooter-stock.jpg?quality=80&strip=all');
}

.navbar-ds {
      background:#FFA500;
      height:120px;
      box-shadow:0px 2px 5px #777;
  }
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-login {
  /* transform: translateX(-50%); */
  right: 5%;
  position: absolute;
}
  /* .nav-link {
      color:black !important;
  }

  .navbar-brand {
      text-transform:uppercase;
      color:red;
  } */

.topnav {
  background-color: white;
  width: 100%;
  height: 20%;
  text-align: center;
  float: center
}

.topnav img {
  float: center;
  width: 100%;
  height: 200%;
}

.topnav a {
  display: inline-block;
  color: black;
  width: 20%;
  height: 30%;
  font-size: 2vw;
  text-decoration: none;
}

.topnav a:hover {
  /*box-shadow: 0 0 10px rgba(0,0,0,0.24);*/
  font-weight: bold;
}

#body {
  padding-bottom: 20rem;
}

#page {
  position: relative;
  min-height: 100vh;
  display: block;
  overflow: auto;
}
