<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>test2</h1>
<form method="post">

  {{form.hidden_tag() }}
  {{form.amount.label}}{{form.amount}}
  <br>
  <p>The price for reservation is £1 per scooter</p>
  <br>
  {{form.length.label}}
  <br>
  {{form.length}}
  <br>
  <p>Return time:</p>
  <br>
  <p>Total price:</p>
  {{form.submit()}}
  </form>
    </body>
  </html>
