{% extends "base.html" %}
{% block content %}

<div id="body">
  	<h1> Our Service </h1>
  	<p> We provide electric scooters for hire in and around Leeds city centre. </p>
  	<p> Customers can create an account and add money to their wallet, which they can use to rent our scooters. </p>
  	<h1> Prices </h1>
  	<p> Scooters can be reserved for at most 15 minutes, before they become available to rent for others. The deposit for reserving a scooter is £1. </p>
  	<p> Renting a scooter costs £1 per hour, and are available for use until 8pm. </p>
</div>


{% endblock %}
