{% extends "base.html" %}
{% block content %}
<p>Booking price:</p>
	£{{ cost }}.00
<br><br>
<p>Collect by:</p>
	{{ collectString }}
<br><br>
<p>Return by:</p>
	{{ returnString }}
<br>
<form class="form" method="post">
	<button type="submit" name="submit" value="pay">Go to payment</button>

</form>
{% endblock %}
