{% extends "base.html" %}
{% block content %}
<form method="post">
	{% if numAvailableScooters == 0%}
	<p>There are no available scooters at this location! Please pick another location.</p>

	{% else %}
		<p>Number of scooters:</p>
		<input type="number" min="1" max="{{ numAvailableScooters }}" name="numScooters" value="Number of scooters">
		<p>The price for reservation is £1 per scooter.</p>
		<p>Rent time:</p>
		<select class="select" name="hireTime">
			<option value="1hour">1 hour</option>
			<option value="4hour">4 hours</option>
			<option value="24hour">24 hours</option>
			<option value="1week">1 week</option>
		</select>
		<br>
		<button type="submit" name = "submit" value="Confirm">Go to confirmation</button>
		{% if prompt %}
			{{ prompt }}
			<button type="submit" name="continue">Continue with this booking</button>
			<button type="submit" name="cancel">Continue with previous booking</button>
		{% endif %}
	{% endif %}
</form>
  </body>
</html>
{% endblock %}
