{% if current_user.is_authenticated() %}
  {% if current_user.authLevel == 1 %}
    {% extends "adminbase.html" %}
  {% elif current_user.authLevel == 2 %}
    {% extends "master.html" %}
	{% else %}
		{% extends "base.html" %}
	{% endif %}
{% endif %}


{% block content %}
<link href="../static/css/Home_Style.css" rel="stylesheet" type="text/css" media="screen"/>
<div id="body">
  <div class="images">
    <div class="image">
      <img src="../static/images/scooter1.jpg" alt="scooter image">
    </div>
    <div class="image">
      <img src="../static/images/scooter2.jpg" alt="scooter image">
    </div>
    <div class="image">
      <img src="../static/images/scooter3.jpg" alt="scooter image">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  </br>
  <div class="dots">
    <span class="dot active" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>
<script src='../static/js/Carousel.js'></script>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 fixed-bottom">

<!-- Footer Links -->
<div class="container text-center text-md-left">
<!-- Footer links -->
<div class="row text-center text-md-left ">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
  <h6 class="text-uppercase mb-4 font-weight-bold">Just Scoot</h6>
  <p>At Just Scoot we strive to bring the best customer service
	to all of our clients. We treat people with respect and help them as
	much as we can.
  </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
  <h6 class="text-uppercase mb-4 font-weight-bold">Contact us!</h6>
  <p>
	<i class="fas fa-home mr-3"></i> United Kingdom, Leeds</p>
  <p>
	<i class="fas fa-envelope mr-3"></i> contact@justscoot.com</p>
  <p>
	<i class="fas fa-phone mr-3"></i> + 44 7969 396 769</p>
</div>
<!-- Grid column -->

</div>

<!-- Grid row -->
<div class="row d-flex align-items-center">

<!-- Grid column -->
<div class="col-md-7 col-lg-8">

  <!--Copyright-->
  <p class="text-center text-md-left">© 2022 Copyright:
	<a href="\">
	  <strong> justscoot.com</strong>
	</a>
  </p>
</div>
<div class="col-md-5 col-lg-4 ml-lg-0">
  <!-- Social buttons -->
  <div class="text-center text-md-right">
	<ul class="list-unstyled list-inline">
	  <li class="list-inline-item">
		<a class="btn-floating rgba-white-slight mx-2" href="https://www.facebook.com/groups/956467611486906/">
		  <i class="icon ion-social-facebook"></i>
		</a>
	  </li>
	  <li class="list-inline-item">
		<a class="btn-floating rgba-white-slight mx-2" href="https://www.instagram.com/belle.delphinnneee/">
		  <i class="icon ion-social-instagram"></i>
		</a>
	  </li>
	</ul>
  </div>
</div>
</div>
</footer>
{% endblock %}
