{% extends "base.html" %}
{% block content %}
<link href="../static/css/Login_Style.css" rel="stylesheet" type="text/css" media="screen"/>
<div id="body">
  <div class="login-container">
	  {% if error != "" %}
	  <center><p style="color:red"><b>Error: {{ error }}</b></p></center>
	  <hr>
	  {% endif %}
	  <form class="form" method="post">
		  {{ form.hidden_tag() }}
	    <label for="name"><b>Email</b></label>
		{{ form.email }}
	    <!-- <input type="text" placeholder="Enter Username" name="email" required> -->
	    <br>
	    <label for="pass"><b>Password</b></label>
		{{ form.password }}
	    <!-- <input type="password" placeholder="Enter Password" name="pass" required> -->
	    <br>
	    <button type="submit" name = "submit" class="login">Log in</button>
	    <br>
	    <br>
	    <a href="/signup">Don't have an account? Sign up now</a>
	</form>
  </div>
</div>
{% endblock %}
