{% extends "base.html" %}
{% block content %}
{% if error != "" %}
	<center><p style="color:red"><b>Error: {{ error }}</b></p></center>
	<hr>
{% endif %}
<form class="form" method="post">
{{ form.hidden_tag() }}
<p>Amount due: £{{ cost }}.00</p>
  <label for="accName">Name</label><br>
  {{ form.accName }}
	<br>
  <label for="accNum">Card Number</label><br>
  {{ form.accNum }}
	<br>
  <label for="expDate">Valid Until</label><br>
  {{ form.expDate}}
	<br>
  <label for="cvc">CVC</label><br>
  {{ form.cvc }}
	<br>
	<input type="checkbox" name="saveCard">
	<label for="saveCard">Save this card for future payments</label> <br>
  <button type="submit" name="submit" value="pay">Make payment</button>
</form>
{% endblock %}
