{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">

</script>
<body>
<div class="w3-container w3-black">
    <h1>Stats</h1>
    <form class="form" method="post" id = "test">
    {{ form.hidden_tag() }}
    <label>Choose date:</label>
    {{form.date(value = today)}}
    <br>
    <button type="submit" name="submit" class="Date">submit</button>
  </form>
</div>

<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Day')"id="defaultOpen">Daily income</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Week')">Weekly income</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'WeekGraph')">Weekly Graph</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Graph')">Annual Graph</button>

</div>

<div style="margin-left:50px">
  <div class="w3-padding">
    </div>

  <div id="Day" class="w3-container city" style="display:none">
    <h2>Income for {{today}} </h2>
    <p> One hour booking total: £{{totalDay[0]}}.00</p>
    <p> Four hour booking total: £{{totalDay[1]}}.00</p>
    <p> One day booking total: £{{totalDay[2]}}.00</p>
    <p> One week booking total: £{{totalDay[3]}}.00</p>
    <p>-------------------------------------------------</p>
    <p>Total: £{{dailySum}}.00</p>
  </div>

  <div id="Week" class="w3-container city" style="display:none">
    <h2>Income for week: {{weekNum}} </h2>
    <p> One hour booking total: £{{totalWeek[0]}}.00</p>
    <p> Four hour booking total: £{{totalWeek[1]}}.00</p>
    <p> One day booking total: £{{totalWeek[2]}}.00</p>
    <p> One week booking total: £{{totalWeek[3]}}.00</p>
    <p>-------------------------------------------------</p>
    <p>Total: £{{weeklySum}}.00</p>
  </div>

 <div id="WeekGraph" class="w3-container city" style="display:none">
    <canvas id="helpChart" style="width:100%;max-width:1000px;height:100%;max-height:1000px"></canvas>
  </div>

  <div id="Graph" class="w3-container city" style="display:none">
    <canvas id="myChart" style="width:100%;max-width:1000px;height:100%;max-height:1000px"></canvas>
  </div>

</div>

<script>
document.getElementById("defaultOpen").click();
function openCity(evt, cityName) {

  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
var xValues = ["Mon","Tue","Wed","Thur","Fri","Sat","Sun"];
new Chart("helpChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      data: {{weekTotal}},
      borderColor: "red",
      fill: false,
      lineTension: 0,
      label: "Total each day over a week"
    }]
  },
  options: {
    responsive: true,
    legend: {display: true},
    title: {
      display: true,
      text: "Total income for each day",
      fontSize: 16
    },
    scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Day'
          }
        }],
        yAxes: [{
          display: true,
          ticks: {
            beginAtZero:true
          },
          scaleLabel: {
            display: true,
            labelString: 'Income (£)'
          }
        }]
      }
  }
});
new Chart("myChart", {
  type: "line",
  data: {
    labels: {{weekRange}},
    datasets: [{
      data: {{totalYear1H}},
      borderColor: "red",
      fill: false,
      lineTension: 0,
      label: "One hour"
    },{
      data: {{totalYear4H}},
      borderColor: "green",
      fill: false,
      lineTension: 0,
      label: "Four Hours"
    },{
      data: {{totalYear1D}},
      borderColor: "blue",
      fill: false,
      lineTension: 0,
      label: "One Day"
    },{
        data: {{totalYear1W}},
        borderColor: "yellow",
        fill: false,
        lineTension: 0,
        label: "One Week"
    },{
        data: {{totalYear}},
        borderColor: "purple",
        fill: false,
        lineTension: 0,
        label: "Combined weekly total"
    }]
  },
  options: {
    responsive: true,
    legend: {display: true},
    title: {
      display: true,
      text: "Weekly income for the year",
      fontSize: 16
    },
    scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Week'
          }
        }],
        yAxes: [{
          display: true,
          ticks: {
            beginAtZero:true
          },
          scaleLabel: {
            display: true,
            labelString: 'Income (£)'
          }
        }]
      }
  }
});
</script>

</body>
{% endblock %}
