{% extends "base.html" %}
{% block content %}
	<h1>{{ current_user.firstName }}'s booking history</h1>
	{% for d in bookingDates %}
	<h3><b>{{ d }}</b></h3>
	<hr>
		{% for b in bookings %}
			{% if b[4] == d %}
				{% if b[2] <= 24 %}
					<p><b>{{b[0]}}</b> scooter(s) for <b>{{b[2]}} hour(s)</b> | £{{b[1]}}.00 | Account ending: {{ b[9] }}</p>
				{% else %}
					<p><b>{{b[0]}}</b> scooter(s) for <b>1 week</b> | £{{b[1]}}.00 | Account ending: {{ b[9] }}</p>
				{% endif %}
				{%if b[7] != 0%}
					<p><b>Return to {{b[7]}} by:</b> {{ b[3] }}</p>
				{% endif %}
				{% if b[5] == 1 %}
				<form class="form" method="post">
					<button type="submit" name="submit" value="cancel{{b[6]}}"><b>Cancel reservation</b></button>
				</form>
				{% endif %}
				{% if b[8] == 1%}
				<form class="form" method="post">
					<select class="select" name="extendTime">
						<option value="1">1 hour</option>
						<option value="4">4 hours</option>
						<option value="24">24 hours</option>
						<option value="168">1 week</option>
					</select>
					<button type="submit" name="submit" value="extend{{b[6]}}"><b>Extend booking</b></button>
				</form>
				{% endif %}
				<hr style="border-top: 1px dashed grey;">
			{% endif %}

		{% endfor %}

	{% endfor %}
{% endblock %}
