.images {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.image {
  display: none;
  text-align: center;
}

.image img {
  width: 100%;
  height: 80%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.image a {
  position: absolute;
  font-size: 50px;
  color: white;
  background-color: black;
  opacity: 0.5;
  width: 20%;
  margin: 0 2px;
  padding: 10px;
  right: 40%;
  bottom: 10%;
  text-decoration: none;
}

.image a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover, .dot.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}
