:root {
	--fontsize: 1vmax;
}


.login-container {
  float: left;
  width: 100%;
}

.login-container label {
  display: inline-block;
  width: 20%;
  font-size: max(25px, 1vh, 1.5vw);
  text-align: center;
  margin: 10px;
  margin-left: calc(30% - 10px);
}

.login-container input {

  height: 35px;
  margin: 10px;
}

.login-container button {
  font-size: calc(0.5 * (max(25px, 1vh, 1.5vw)));
  margin-left: calc(50% - 50px);
  width: 120px;
  margin-top: 10px;
}

.login-container a {
  font-size: calc(0.5 * (max(25px, 1vh, 1.5vw)));
  text-align: center;
  color: black;
  margin-top: 5%;
  margin-left: 42.5%;
  padding-bottom: 20%;
}
